.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.example-full-width {
    width: 100%;
}

.search_bar, input:focus {
    background: #fff;
    border-radius: 25px;
    height: 40px;
    margin-bottom: 8px;
    display: block;
    border-style: none;
    outline: none;
}

input[type=text], textarea {
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
  }
   
  input[type=text]:focus, input:focus {
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #003a70;
  }

.search_btn {
    border-radius: 25px;
    border-style: none;
    height: 40px;
    margin: auto;
    text-align: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #ffcb05;
    color: #003a70;
    font-size: larger;
    margin-bottom: 8px;
}

.show_all {
    border-radius: 25px;
    border-style: none;
    height: 40px;
    margin: auto;
    text-align: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #ddd;
    color: #003a70;
    font-size: medium;
    margin-bottom: 8px;
}

.show_all:active {
    background: #fff;
}

.favourite_btn {
    border-radius: 25px;
    border-style: none;
    height: 40px;
    margin: auto;
    text-align: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #003a70;
    color: #ddd;
    font-size: medium;
    margin-bottom: 8px;
}

.favourite_btn:active {
    background: #fff;
}

.search_btn:active {
    background: #3D7DCA;
}

.error_message {
    color: red;
}
