.row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.back_btn {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    border-radius: 25px;
    border-style: none;
    height: 30px;
    width: 80px;
    background: #ddd;
    font-size: medium;
    margin-bottom: 8px;
}

.back_btn:active {
    background: #fff;
}

.save_btn {
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    border-radius: 25px;
    border-style: none;
    height: 30px;
    width: 80px;
    background: #ffcb05;
    font-size: medium;
    margin-bottom: 8px;
}

.save_btn:active {
    background: #fff;
}

.chalk_bg {
    background: url("../../../assets/images/black_chalk.png") center center no-repeat;
    background-size: cover;
    height: 25vh;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: #f3f5ff;
    font-size: xx-large;
}

img {
    background: f3f5ff;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    // width: 40%;
}

.pale_bg {
    min-height: calc(75vh + 30px);
    height: fit-content;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -30px;
    border-radius: 30px;
    background-color: #f3f5ff;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
}

.grid {
    display: grid;
    @media screen and (min-width: 300px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    @media screen and (min-width: 675px) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    @media screen and (min-width: 1400px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

.demo-table {
    // padding-top: 130px;
    width: 100%;
}

.mat-table {
    background-color: #f3f5ff;
    color: #000;
}

.mat-row {
    background-color: #f3f5ff;
    color: #000;
}

.mat-cell {
    color: #003a70;
}

.mat-header-cell {
    color: #003a70;
}

.mat-elevation-z8 {
    box-shadow: unset;
}