<div class="content" role="main">

    <div class="row chalk_bg" *ngIf="detailsService.focussedCharacter">

        <button class="back_btn" (click)="back()">Back</button>
        <button *ngIf="!isFavourite" class="save_btn" (click)="save()">Save</button>
        <button *ngIf="isFavourite" class="save_btn" (click)="remove()">Remove</button>

        <img [src]="getSprite()" alt="profile_pic"><br >
        <h2>{{ getCharacterName() }}</h2>
    </div>

    <div class="pale_bg">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
            <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
              <th mat-header-cell *matHeaderCellDef>
                {{column.header}}
              </th>
              <td mat-cell *matCellDef="let row">
                {{column.cell(row)}}
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

    </div>

</div>