/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.rectangle {
    width: 95%;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 14px 0 rgba(23, 11, 86, 0.07);
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    cursor: pointer;
}

h2 {
    text-transform: capitalize;
}